@import "./params";

@mixin clear {
  margin: 0;
  padding: 0;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
