//Colors
$white: #ffffff;
$darkslategray: #424453;
$cornflowerblue: #6c7ffa;

//Colors-element
$bg: $white;
$bg-header: $darkslategray;
$second-color: $cornflowerblue;
$darken-second-color: darken($second-color, 5%);
$font: #6E7386;
$font-header: $white;

// Sized
//view-port
$content-width: 1125px;
$content-padding: 0 10px;
