//Colors
$white: #ffffff;
$whitesmoke: #f8f8f8;
$gainsboro: #e0e0e0;
$black: #000000;
$grey: #808080;
$darkslategrey: #424453;
$gold: #ffcc00;

//Colors-element
$bg: $whitesmoke;
$bg-component: $white;
$bg-header: $black;
$second-color: $gold;
$darken-second-color: darken($second-color, 5%);
$font: $black;
$font-header: $white;
$radioBorder: $darkslategrey;
$radioActive: $gold;

// Sized
$margin-content: 0 0 0 20px;
$radioSize: 17px;

