@import "../../../scss/partials/params";
@import "../../../scss/partials/mixins";

.cash-account {
  @include component-border;

  display: flex;
  flex-direction: column;
  height: 180px;
  width: 300px;
  margin: $margin-content;
  padding: 20px;

  &__title {
    @include component-title;

    margin: 0 0 20px 0;
    width: 100%;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__line {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: $gainsboro;
  }

  &__currency-icon {
    margin-right: 10px;
    color: $second-color;
    font-size: 26px;
  }
}
