@import "../../../scss/partials/params";
@import "../../../scss/partials/mixins";

.cash-account {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 300px;
  margin: $margin-content;
  padding: 20px;
  @include border;

  &__title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__label {
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
  }

  &__icon {
    border-radius: 6px;
    height: 35px;
    width: 35px;
    padding: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    &_card {
      background: radial-gradient(#9599f3, #6f71dc);
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__line {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: grey;
  }

  &__currency-icon {
    margin-right: 10px;
    color: $second-color;
    font-size: 26px;
  }
}
