@import "../../scss/partials/mixins";
@import "../../scss/partials/params";

.transaction-container {
  display: flex;
  flex-direction: column;
  margin: $margin-content;

  &__title {
    @include component-title;
  }

  &__details {
    display: flex;
  }
}
