.app {
  &__navigation {
    position: absolute;
    z-index: 99;
  }

  &__content-wrapper {
    transition: 0.5s;
    position: relative;
    z-index: 1;
  }

  &__content-container {
    margin-top: 80px;
  }
}
