@import "../../../scss/partials/mixins";
@import "../../../scss/partials/params";

.transaction-input {
  @include clear;
  @include component-border;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 350px;
  margin-right: 10px;

  &__wrapper {
    margin: 10px;
  }

  &__head-title {
    @include component-title;
  }

  &__selection-section {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
  }

  &__selection-button {
    display: flex;
    justify-content: flex-end;
  }

  &__radio {
    @include radio-button;
  }

  &__add-transaction-button {
    @include button-reset;
    @include button;
  }
}
