@import "../../../scss/partials/mixins";
@import "../../../scss/partials/params";

.transaction-input {
  @include clear;
  @include border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
  margin-right: 10px;

  &__add-transaction-button {
    @include button-reset;
    @include border;
    border-color: $second-color;
    padding: 3px;
  }
}
