@import "../../../scss/partials/params";
@import "../../../scss/partials/mixins";

.category-input {
  @include clear;
  @include component-border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
  height: 200px;
  width: 350px;

  &__wrapper {
    margin: 10px 10px;
  }

  &__head-title {
    @include component-title;
  }

  &__selection-section {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
  }

  &__selection-button {
    display: flex;
    justify-content: flex-end;
  }

  &__add-category-button {
    @include button-reset;
    @include button;
  }
}
