@import "../../../scss/partials/params";
@import "../../../scss/partials/mixins";

.category-input {
  @include clear;
  @include border;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  height: 150px;
  width: 350px;

  &__wrapper {
    margin: 10px;
  }

  &__selection-section {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: bold;
  }

  &__add-category-button {
    @include button-reset;
    @include border;
    @include button-pseudo-class;
    border-color: $second-color;
    margin-top: 10px;
    font-weight: bold;
  }
}
