@import "../../scss/partials/params";
@import "../../scss/partials/mixins";

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: $bg-header;
  transition: 0.5s;
  transform: translateX(-250px);

  &_active {
    box-shadow: 0.1px 0 5px 0 black;
    transform: translateX(0%);
  }

  &__burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__burger-button {
    @include button-reset;
    display: block;
    position: relative;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border: solid $second-color;
    border-radius: 50%;
    right: -170px;
    top: 22px;
    transition: 0.5s;

    &_active {
      right: 80px;
    }

    &:hover {
      border-color: $darken-second-color;
    }

    &:focus {
      border-color: $darken-second-color;
    }

    &_span,
    &_span:before,
    &_span:after {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 50%;
      margin-left: -10px;
      width: 20px;
      height: 2px;
      background-color: $second-color;
    }

    &_span:before,
    &_span:after {
      content: '';
      display: block;
      transition: 0.5s;
    }

    &_span:before {
      content: '';
      transform: translateY(-5px);
    }

    &_span:after {
      content: '';
      transform: translateY(5px);
    }

    &_span-active:before {
      transform: rotate(-35deg);
      width: 10px;
      transform-origin: left top;
    }

    &_span-active:after {
      transform: rotate(35deg);
      width: 10px;
      transform-origin: left bottom;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 30px 0 0 0;
    padding: 0;
  }

  &__icon-container {
    width: 35px;
  }

  &__icon {
    margin-right: 5px;
    color: $second-color;
    font-size: 28px;
  }

  &__item {
    display: flex;
    align-items: center;
    border-radius: 3px;
    padding: 5px 30px;
    font-size: 20px;

    &:active {
      background: rgba($second-color, 0.1);
    }
  }

  &__link {
    text-decoration: none;
    color: $second-color;
    font-weight: bold;
    font-size: 28px;

    &:hover {
      color: $darken-second-color;
    }
  }
}
