@import "../../scss/partials/params";
@import "../../scss/partials/mixins";

.header {
  display: flex;
  background: $bg-header;
  margin: 0;
  padding: 0;

  &__title {
    padding-left: 85px;
    transition: 0.5s;

    &_active {
      transform: translateX(300px);
    }
  }

  &__icon {
    margin-right: 10px;
    color: $second-color;
  }

  &__link {
    text-decoration: none;
    color: $font-header;

    &:hover {
      color: $second-color;
    }

    &:active {
      color: $darken-second-color;
    }
  }
}
