@import "../../scss/partials/params";
@import "../../scss/partials/mixins";

.header {
  display: flex;
  background: $bg-header;
  position: fixed;
  top: 0;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 80px;
  width: 100%;

  &__title {
    padding-left: 85px;
    transition: 0.5s;
  }

  &__icon {
    margin-right: 10px;
    color: $second-color;
  }

  &__link {
    text-decoration: none;
    color: $font-header;

    &:hover {
      color: $second-color;
    }

    &:active {
      color: $darken-second-color;
    }
  }
}
