@import "../../../scss/partials/mixins";
@import "../../../scss/partials/params";

.history-transactions {
  display: flex;
  flex-direction: column;
  margin: $margin-content;
  padding: 0;

  &__title {
    @include component-title;
  }

  &__table-wrapper {
    @include component-border;
    max-width: 96.5%;
    padding: 10px;
  }

  &__t-title {
    padding: 0;
    margin: 0 0 10px 10px;
  }

  &__table-container {
    max-width: 100%;
    overflow-x: auto;
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
    border: none;
  }

  &__thead {
    color: $second-color;
  }

  &__tbody {

    text-align: center;
  }

  &__row {
    border-top: 1px solid lightgrey;

    &_white {
      background-color: $white;
    }

    &_grey {
      background-color: $whitesmoke;
    }
  }

  &__cell {
    white-space: nowrap;
  }

  &__del-button {
    @include button-reset;
    @include solid-button;
  }
}
