@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');
@import "./scss/partials/mixins";
@import "./scss/partials/params";
@import "components/error-indicator/error-indicator";

html, body {
  @include clear;
  background-color: $bg;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: $font;
}
