@import "./scss/partials/mixins";
@import "./scss/partials/params";

html, body {
  @include clear;
  background-color: $bg;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  color: $font;
}
